<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <handlers>
      <add verb="*" path="sitecore_media.ashx" type="Boondoggle.Sc.Media.MediaRequestHandler, Boondoggle.Sc" name="Sitecore.MediaRequestHandler"
          xdt:Transform="Replace"
          xdt:Locator="Condition(@path='sitecore_media.ashx')" />
    </handlers>
  </system.webServer>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>