<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <handlers>
      <add verb="*" path="sitecore_media.ashx" type="Boondoggle.Sc.Media.MediaRequestHandler, Boondoggle.Sc" name="Sitecore.MediaRequestHandler" 
          xdt:Transform="Replace"
          xdt:Locator="Condition(@path='sitecore_media.ashx')" />
    </handlers>
  </system.webServer>
</configuration>